<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club de code</title>
    <link rel="stylesheet" href="css/info.css">
    <link rel="stylesheet" href="css/nav.css">
</head>

<body>
    <ul class="nav-container">

        <a href="blog">
            <li class="nav-item sides">
                <img class="nav-item-image" src="../images/nav_bar/blog-unselected.png" alt="there">
            </li>
        </a>

        <a href="/">
            <li class="nav-item">
                <img class="nav-item-image" src="../images/nav_bar/house-unselected.png" alt="is a">
            </li>
        </a>

        <li class="nav-item sides nav-item-selected">
            <img class="nav-item-image" src="../images/nav_bar/info-selected.png" alt="problem">
        </li>
    </ul>

    <div class="content">
        <h1 class="title">Informations</h1>
        <br>
        <p>Le club est ouvert pour tous les élèves <br>  a partir de la 4éme au 
            <a href="https://www.lyceemermozdakar.org/" class="waivy">
                    <span style="--i:1">L</span><span style="--i:2">F</span><span style="--i:3">J</span><span
                        style="--i:4">M</span>
                    <span style="--i:6">D</span><span style="--i:7">a</span><span style="--i:8">k</span><span
                        style="--i:9">a</span><span style="--i:10">r</span>
            </a> qui souhaitent s'améliorer en coding
        </p>
        <p>Le club a été crée en 2021 après les vacances de toussaint par </p>
        <p>
            <a class="scroller waivy" href="#Oscar" style="color: #ffea00">
                <span style="--i:1">O</span><span style="--i:2">s</span><span style="--i:3">c</span><span
                    style="--i:4">a</span><span style="--i:5">r</span>
                <span style="--i:5">B</span><span style="--i:4">a</span><span style="--i:3">e</span><span
                    style="--i:2">l</span><span style="--i:1">e</span>
            </a>
            et
            <a class="scroller waivy" href="#Jad" style="color: #2fff74">
                <span style="--i:1">J</span><span style="--i:2">a</span><span style="--i:3">d</span>
                <span style="--i:4">B</span><span style="--i:4">a</span><span style="--i:3">z</span><span
                    style="--i:2">z</span><span style="--i:1">i</span>
            </a> <br> <br> avec l'aide de M.Ndiaye, CPE de l'école.
        </p>
        <p>Ce site est le premier projet sur lequel nous avons travaillé ensemble</p>
        <br>
        <br>
        <h1>Nos membres</h1>
        <br>
        <div>            
            <% for(let row of allMembres.membres) { %>

                <div class="membres-container">

                    <% for(let mem of row) { %>
                       <!-- <% //let mem = JSON.parse(membre) %>  -->
                       <div class="membre" id=<%= mem.id %> >
                           <div class="profil">
                               <img 
                                   src=<%= mem.imagesrc %> 
                                   alt=<%= mem.id %> 
                                   class="profile-picture"
                                   onerror="this.src = 'images/default-profile-picture.jpg'"
                               >
                               <h3 class="name"> <%= mem.name %> </h3>
                           </div>
                           <div class="infos-pers">
                               <% for(let line of mem.description) { %>
                                   <%- line %>
                               <% } %>
                           </div>
                           <div class="liens">
                               <p>
                                   <% for(let link of mem.links) { %>
                                       <%- link %>
                                   <% } %>
                               </p>
                           </div>
                       </div>
                   <% } %>
                </div>
                <br>
                <br>
            <% } %>
        </div>
        <br>

        <h1>Prendre contact</h1>
        <br>
        <div class="contact">
            <p>Vous vous posez la question de comment vous pourriez nous contacter ?</p>
            <p>Très simple! vous pouvez soit envoyer un mail a <br>            
                <a class="scroller waivy" href="#Oscar" style="color: #ffea00">
                    <span style="--i:1">O</span><span style="--i:2">s</span><span style="--i:3">c</span><span
                    style="--i:2">a</span><span style="--i:1">r</span>
                </a>
                ou bien a un des CPE de l'école.
            </p>
            <p>Sinon, naviguez 
                <a href="contact" class="waivy" style="color: #2fe7ff">
                    <span style="--i:1">i</span><span style="--i:2">c</span><span style="--i:3">i</span>
                </a>
                et faites le directement!
            </p>   
        </div>


        <br>
        <br>
    </div>
</body>
</html>
